* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  color: #ffb347;
  margin: 40px;
  font-size: 50px;
  font-family: "Baloo Bhai 2", cursive;
  cursor: context-menu;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn-container {
  margin: 20px;
}
.btn {
  font-family: "Baloo Bhai 2", cursive;
  width: 150px;
  height: 50px;

  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}
.btn:hover {
  background: #ffb347;
}
